    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      padding: 15px;
      font-family: "Outfit", sans-serif;
      background-color: #FFFEFE;
      min-height: 100vh;
    }

    .author-info {
      font-size: 14px;
      text-align: center;
      margin-top: 16px;
      color: rgb(55, 65, 81);
    }

    .author-info a {
      text-decoration: none;
    }

    #head-container>span {
      color: #263FA9;
      font-weight: 500;
      display: inline-block;
      margin: 15px auto;
      font-size: 1.05rem;
      font-weight: 500;
    }

    #head-container>h1 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .container {
      background-color: #F3F4F6;
      background-image: url(Background_decor.svg);
      background-repeat: no-repeat; 
      border-radius: 30px;
    }

    #head-container {
      padding: 30px;
    }

    #head-container>p {
      color: #394150;
      font-weight: 400;
      line-height: 1.5;
      padding-bottom: 80px;
    }

    .img-container {
      width: fit-content;
      width: 100%;
      max-width: 100%;
      position: relative;
    }

    .meet-container {
      margin: 0;
      padding: 0;
      position: relative;
      overflow: hidden;
    }

    .content>strong{
        font-size: 1.4rem;
    }

    .content {
      position: absolute;
      color: white;
      z-index: 3;
      bottom: 10%;
      left: 10%;
      font-size: 1rem;
    }

    #grid-container {
      display: grid;
      grid-template-columns: 1fr;
    }

    .character {
      width: 100%;
      height: 100%;
    }

    #img1 {
      background-color: #C1B6F8;
    }

    #img2 {
      background-color: #EDACD2;
    }

    #img3 {
      background-color: #9DC4F8;
    }

    #img4 {
      background-color: #F8D8B0;
    }

    #img5 {
      background-color: #86E7D4;
    }

    .gradient {
      position: absolute;
      top: 25%;
      bottom: 0;
      left: 0;
    }

    .foot {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      min-height: 410px;
      width: auto;
      align-items: flex-end;
      padding: 1.5rem;
    }

    .foot>p {
      color: #394150;
      font-weight: 500;
    }

    @media screen and (min-width: 740px) {
     

      body {
        padding: 80px;
      }

      .img-container{
        margin: 0;
        padding: 0;
        height: 297px;
      }

      #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
      }
      #head-container {
          grid-column:  span 3;
          margin-right: 40px;
      }
      .foot {
        min-height: 0;
        grid-column: 1;
        grid-row: 3;
      }

        .five {
            border-bottom-right-radius: 30px;
        }
        .gradient {
            top: 6.1rem;
        }
    }

    @media screen and (min-width:1030px) {
      body{
        padding: 60px;
      }
      #grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        margin: 0;
      }

      #head-container{
        height: 280px;
        grid-column: span 2;
      }

      .foot{
        grid-row: 2;
      }

      .two{
        border-top-right-radius: 30px;
      }

      .gradient {
            top: 4.8rem;
        }
      
    }